<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LibrosController</servlet-name>
        <servlet-class>Controlador.LibrosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoresController</servlet-name>
        <servlet-class>Controlador.AutoresController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inventariosController</servlet-name>
        <servlet-class>Controlador.inventariosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedoresController</servlet-name>
        <servlet-class>Controlador.ProveedoresController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Diagrama</servlet-name>
        <servlet-class>Controlador.Diagrama</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarioController</servlet-name>
        <servlet-class>Controlador.usuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorController</servlet-name>
        <servlet-class>Controlador.AdministradorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibrosController</servlet-name>
        <url-pattern>/lc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoresController</servlet-name>
        <url-pattern>/ac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inventariosController</servlet-name>
        <url-pattern>/ic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedoresController</servlet-name>
        <url-pattern>/pc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Diagrama</servlet-name>
        <url-pattern>/diagrama</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarioController</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorController</servlet-name>
        <url-pattern>/administrador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
